.header {
  display: flex;
  justify-content: center;
  padding: 8px;
}

.header img{
 width: 100px;
}

.banner__img {
  height: 460px;
  width: 100%;
  object-fit: cover;
}

.container__perfil {
  width: 210px;
  height: 210px;
  border: 10px solid #fff;
  overflow: hidden;
  position: relative;
  background: #fff;
  margin: -60px auto 20px;
  border-radius: 100%;
}

.banner .container__perfil {
  margin-top: -125px;
}
.perfil {
  width: 100%;
  height: auto;
}

.list__summary {
  text-align: center;
  max-width: 750px;
  margin: 0 auto 40px;
}

.list__summary h1 {
  color: #3a4f5b;
  font-weight: 500;
  font-size: 2.25rem;
  margin: 0 0 0.875rem;
}

.list__summary p {
  color: #6d8493;
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
  font-weight: 500;
}

.coupletext {
  max-width: 620px;
  margin: 0 auto 30px;
}

.coupletext p {
  font-size: 1.125rem;
  line-height: 1.75rem;
}

hr {
  background: #dbe5ef;
  border: 0;
  height: 1px;
  width: 100%;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  padding: 0 32px;
  margin: 6rem auto 0 auto;
  position: relative;
}


.product__info {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative;
  padding: 30px 16px 0 16px;
  max-width: 310px;
  width: 100%;
}

.product__image-wrapper img {
  width: 220px;
  height: auto;
}

.product__info {
  text-align: center;
  flex: 1 1 auto;
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
}

.product__info:hover {
  box-shadow: 0px 1px 48px -12px rgba(16, 24, 40, 0.18);
}

.product__title {
  padding: 30px 0;
}

.product__title a {
  color: #475467;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
}

.product__value {
  font-size: 1.125rem;
  font-weight: 600;
  display: block;
  color: #6d8493;
  margin-bottom: 30px;
}

.button {
  width: 100%;
  max-width: 147px;
  margin: 0 auto;
  text-decoration: none;
  cursor: pointer;
  background: #fb555f;
  box-shadow: inset 0 0 0 2px #fb555f;
  padding: 10px 18px;
  color: #fff;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
  font-size: 16px;
}

.button:hover {
  opacity: 0.9;
}

.container ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 4rem;
}

.container li {
  position: relative;
}

.container li:before {
  content: "";
  background-color: #dbe5ef;
  position: absolute;
  height: calc(100% + 4rem);
  right: -2rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1px;
}

.container li::after {
  content: "";
  bottom: -2rem;
  background-color: #dbe5ef;
  height: 1px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}


@media (max-width: 992px) {
  .list__summary {
    padding: 0 16px;
  }

  .container__perfil {
    width: 135px;
    height: 135px;
  }

  .container {
    margin-top: 2rem;
  }
}

@media (min-width: 1600px) {
  .banner__img {
    height: 600px;
  }
  
}